*{
    font-family: Bahnschrift, Arial, sans-serif;
    color: white
  }
  
  body {
    background-color: black;
    cursor: url(velo.png);
   }
  
  h1 { 
  font-size:4.5vw;
  line-height:4vw;

   }
  p {
  font-size:1.3vw;
   }
  
  a:link {
  text-decoration: none;
   }   
  a:visited {
  text-decoration: none;
   }
  a:hover {
  color: rgb(255, 0, 234);
  text-decoration: none;
   }
  ul {
  font-size:1.3vw;
  line-height:1.5vw;
  }
  
  button {
    background-color: black;
    border:none;
    color: white;
    padding: 10vw 15vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size:larger;
  }
  button:hover {
    background-color: black;
    border:dotted;
    color: white;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size:larger;
  }
